{% extends "base.html" %}

{% block content %}
<body>
    <div id="gif">
        <p>Samples</p>
        <div class="gifContainer">
            <div class="caption">Original</div>
            <img src="/app/static/video/sport/baseball/baseball1.gif" height="180px" width="320px"/>
        </div>

        <div class="gifContainer">
            <div class="caption">Result</div>
            <img src="/app/static/video/sport/baseball/result_baseball1.gif" height="180px" width="320px"/>
        </div>
    </div>

    <div class="data">
        <center>
            <div class="caption">Body Parts Confidence in Average</div>
            {{ bavgConf | safe }}
            <div class="caption">Body Parts Confidence</div>
            {{ bConfidence | safe }}
        </center>
    </div>
</body>
{% endblock %}
