{% extends "base.html" %}

{% block content %}
<body>
    <div>
        <center>
            <p>What is Openpose?</p>
            <p>"OpenPose represents the first real-time multi-person system to jointly detect human body, hand, and facial keypoints (in total 130 keypoints) on single images."</p>
            <p>Link to Openpose's Github page: <a href="https://github.com/CMU-Perceptual-Computing-Lab/openpose">Openpose</a></p>
        </center>
    </div>

    <div>
        <center>
            <p>Our goal is to learn about Openpose, Deep Learning, and Computer Vision.</p>
        </center>
    </div>
</body>
{% endblock %}
